<div class="body-home">
<div class="landing">
    <div class="container">

        <img class="img" src="assets/img/mage.png" />




    </div>
    <mat-card class=" mat-card col-md-8">
        <h3>Lorem Ipsum</h3>
        <hr>
        <h5>
        <!-- <a *ngFor="let ability of data.abilities"> {{ability}} | </a>     -->
        </h5>

        <mat-icon  ><a href="https://www.facebook.com">looks_one</a></mat-icon>
        <mat-icon>looks_two</mat-icon>
        <mat-icon>looks_3 </mat-icon>
        <mat-icon>looks_4 </mat-icon>
     

    </mat-card>





</div>
</div>